@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">O STUDENTOVI</h1>
    <dl>
        <dt>Jméno studenta</dt>
        <dd>Daniel Civín</dd>
        <dt>Třída</dt>
        <dd>AIT2</dd>
    </dl>
</div>

